body {
  background-color: blue;
  background-color: #ffffff;
  min-height: 100vh;
  color: #fff;
  overflow: hidden;
  font-family: 'Fjalla One', sans-serif;
}
ul {
  list-style: none;
}
li {
  list-style: none;
}
a{
  text-decoration: none;
  list-style: none;
  color: #fff;
}
a:hover {
  text-decoration: none;
  color: #0275d8 !important;
}

.user-login {
  opacity: 0;
}

.home-page {
  opacity: 0;
}

.nav-color {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 0px;
}

.jumbo-image {
  background-image: url('../images/jumbo-image.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}
.user-image {
  background-image: url('../images/user-image.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.jumbo-main-header {
  height:100vh;
  height:-75px;
  width: 100%;
  background-color: #c0c0c0;
  display: flex;
  align-items: center;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  align-content: space-between;
  justify-content: space-between;
  flex-flow: row wrap;
  margin-bottom: 0px;
  margin-top: -50px;
  padding: 0px
}

.user-image{
  padding:10px;
}

.language-image {
  padding: 40px;
}

.user-details {
  margin: 20px;
  min-height:350px;
  max-height: 400px;
  width: 350px;
  margin: 20px auto;
  background-color: rgba(0, 0, 0, 0.35);
  display: contents;
  justify-content: space-between;
  font-family: 'Fjalla One', sans-serif;
  opacity: 1;
}
.form {
  background-color: transparent;
  padding:40px;
  margin-top:10px;
}

.test {

  color: #fff;
}
.welcome-message {
  margin:0px;
  padding-bottom: 10px;
  text-align:center;
  color: #fff;
}
.label {
  color: #fff;
}
.choice-box {
  margin: 10px;
  height:300px;
  width: 300px;
  margin: 40px auto;
  background-color: #ffffff;
  display: contents;
  justify-content: space-between;
  font-family: 'Fjalla One', sans-serif;

}

.nav-profile-buttons {
  color:#fff !important;
  line-height:3 !important;
  padding: 5px 15px !important;
  /*margin-left: 5px !important;*/
  margin-right: 70px !important;
  align-items: center !important;
}
.nav-signout-buttons {
  color:#fff !important;
  line-height:3 !important;
  padding: 0px 15px !important;
  /*margin-left: 5px !important;*/
  margin-right: 5px !important;
  align-items: center !important;
}

@media only screen and (max-width: 560px) {
    body{
      overflow: visible;
    }

    .language-image {
      padding-left: 40px;
      padding-right: 40px;
      padding-top: 0px;
      padding-bottom: 0px;
    }

    .navbar-brand{
      margin-left:0px !important;
      text-align: center !important;
    }
    .navbar {
      margin-bottom: 40px;
    }

    .profile-button{
      margin-right:0px;
      margin: 0 auto;
    }
    .jumbo-main-header {
      min-height:100vh;
      /*padding: 10px;*/
    }
    .choice-box{
      padding:15px;
      width: 75%;
      height: 100%;
      max-height: 350px;
    }
}

.language-choice-select {
   width: 100%;
   background-color: #000;
   color: #ffffff;
   border-radius: 0px;
}

.language-choice-select:hover,
.language-choice-select:focus,
.language-choice-select:active {
   width: 100%;
   background-color: #0275d8;
   color:#ffffff;
}

.failed {
  border: solid 1px red;
}
#alert {
  display: none;
}


.modal-signout {
  width:100px;
  height:50px;
}
.modal-title,
.modal-text {
  color: #000;
  font-family: 'Fjalla One', sans-serif;
  text-align: center;
}
